@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Manrope:wght@400;600;700;800&display=swap');


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f4f5f2;
  color: #172b34;
  font-family: 'Manrope', sans-serif;
}

@media print {
  header,
  aside,
  .no-print {
    display: none !important;
  }
}
